@{
    ViewData["Title"] = "Página Inicial";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-controller="Lancamentos" asp-action="Index">Ir para Lançamentos</a>
</div>

<div>
    <a asp-controller="Consolidacao" asp-action="Index">Ir para Saldo Consolidado</a>
</div>
